<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>NTCIR-Result Display</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script src="{% static 'ASCIIMathML.js' %}"></script>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
              tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
          });
        </script>
        <script>
            $(document).ready(function() {
                $( "#accordion" ).accordion({
                    collapsile: true,
                    heightStyle:"content"
                });
                $("h3", "#accordion").click(function(e) {
                    var contentDiv = $(this).next("div");
                    var retval = $(this).find("a").attr("href"); 
                    contentDiv.load(retval);
                });     
            });
        </script>
    </head>
    <body>
     
<div id="accordion">
{% autoescape off %}
{% for query in queries %}
    {% if isqrel == 'true' %}
    <h3><a href="{{ query.link }}">{{ query.title }} N:({{query.N_R}},{{query.N_PR}}) *** {{query.keywords}} ** ${{query.mathml}}$</a></h3>
    {%else%}
    <h3><a href="{{ query.link }}">{{ query.title }} P@5:({{query.P5_R}},{{query.P5_PR}}) P@10:({{query.P10_R}},{{query.P10_PR}}) *** {{query.keywords}} ${{query.mathml}}$</a></h3>
    {%endif%}
    <div>
        Loading...
    </div>
{% endfor %}
{% endautoescape %}

</div>

    </body>
</html>
